.rbc-toolbar .rbc-btn-group button {
  background-color: #1172BA !important;
  color: white !important;
  border: none !important;
  border-radius: 6px !important;
  margin: 0 2px !important;
  /* transition: background-color 0.2s ease, transform 0.1s ease; */
}

.rbc-toolbar .rbc-btn-group button:hover,
.rbc-toolbar .rbc-btn-group button:focus {
  background-color: #1172BA !important;
  color: white !important;
  transform: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.rbc-toolbar .rbc-btn-group button.rbc-active {
  background-color: #1f7cc2 !important;
  color: #fff !important;
  border: 1px solid black !important;
  /* transform: scale(0.98); */
}

/* 

.rbc-event {
  border: 1px solid white !important;
  border-radius: 6px !important;
  padding: 2px 6px !important;
  background-color: #1172ba !important;
  color: #fff !important;
  line-height: 1.3 !important;
  height: auto !important;
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  z-index: 1 !important;
  flex-flow:nowrap ;
  
  
}



.rbc-day-slot .rbc-event {
  width: calc(100% - 6px) !important; 
  margin-left: 3px !important;
}
 */


 .rbc-row-bg {
  right: 0 !important;
 }
 /* .rbc-cell {
  height: 300px !important;
} */


.rbc-timeslot-group{
  min-height: 75 !important;
  
}

.rbc-day-slot .rbc-event{
  min-width: 100% !important;
  position: "relative !important";
  left:0 !important
}

.rbc-row  {
  min-height:20px !important;
}
.rbc-time-view .rbc-allday-cell{
  height: 0px !important;
}
